@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  background-color: #d3d1d1;
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-horizontal {
  background-color: #919191;
  border-radius: 5px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, dimgrey, rgb(76, 76, 76));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb-horizontal {
  background-color: #888;
  width: 10px !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
